

.mt-green-button {
  background-color: rgb(44, 183, 66);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgb(44, 183, 66);
  min-width: 140px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 183, 66);
  }
}
.mt-white-bottom {
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgb(44, 183, 66);
  min-width: 140px;
  width: 100%;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(44, 183, 66);
  &:hover {
    background-color: rgb(44, 183, 66);
    color: white;
  }
}

.chat-btn{
  display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    
    &:hover{
        background-color: rgba(0, 0, 0, 0.04);
    }
}